/* Estilos para el toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

/* Estilos para el título */
.title {
  font-size: 1.2rem;
}
body {    
    color: #2d564e;
    background-color: #54b57b;
  }

/* Agrega estilos para que los li se vean como botones */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

li a:hover {
  background-color: #ddd;
}

/* styles.css o tu archivo de estilos personalizado */

.full-height {
  height: 100vh; /* Establece la altura al 100% del viewport (ventana del navegador) */
}

/* Asegúrate de aplicar también la altura al 100% a los elementos padres si es necesario */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Asegúrate de que el contenido dentro de mat-sidenav-container también tenga altura al 100% */
.full-height > * {
  height: 100%;
}