<!-- <mat-toolbar class="toolbar">
  <span class="title">Menus Semanales</span>
  <button mat-button routerLink="/creacion">Creación de menús</button>
  <button mat-button routerLink="/programacion-semanal">Programación semanal</button>
  <button mat-button routerLink="/componente3">Componente 3</button>
</mat-toolbar>
<router-outlet></router-outlet> -->

<mat-sidenav-container  class="full-height">
  <mat-sidenav mode="over" [opened]="sidebarOpen" (openedChange)="onSidenavStateChange($event)">
    <!-- Contenido del menú aquí -->
    <ul>
      <li><h3>Modulos:</h3></li>
      <li><a (click)="toggleSidebar()" routerLink="/creacion">Creacion de menus</a></li>
      <mat-divider></mat-divider>
      <li><a (click)="toggleSidebar()" routerLink="/programacion-semanal">Programacion semanal</a></li>
      <li><a (click)="toggleSidebar()" routerLink="/historial">Mis programaciones</a></li>
      <li><h3>Guardar Cambios:</h3></li>
      <li><a (click)="abrirExplorador()">Cargar archivo</a></li>
      <li><a (click)="guardarEnArchivo()">Guardar archivo</a></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>    
    <span class="title">Menus Semanales</span>    
    <input type="file" style="display: none" #fileInput (change)="cargarArchivo($event)">
    

    <!-- Contenido principal de la página aquí -->
    <router-outlet></router-outlet>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </mat-sidenav-content>
</mat-sidenav-container>